/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");
:root {
  --max-width-page: 117rem;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--mainColor);
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: var(--secondaryText);
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  color: var(--secondaryText);
}

.heading-primary {
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  font-family: "Russo One", sans-serif;
  display: block;
  font-size: 5.6rem;
}

.heading-secondary {
  font-size: 2.8rem;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

.heading-tertiary {
  font-size: 2.4rem;
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.text-center {
  text-align: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--mainColor);
}

@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

::selection {
  background-color: #55c57a;
  color: #fff;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: var(--secondaryText);
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  color: var(--secondaryText);
}

.heading-primary {
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.heading-primary--main {
  font-family: "Russo One", sans-serif;
  display: block;
  font-size: 5.6rem;
}

.heading-secondary {
  font-size: 2.8rem;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

.heading-tertiary {
  font-size: 2.4rem;
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.text-center {
  text-align: center;
}

.banner {
  position: relative;
  min-height: calc(100vh - 5rem);
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url("../images/mainBcg.jpeg") center/cover no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/mainBcg.jpeg") center/cover no-repeat;
}

.banner__text {
  width: 117rem;
  margin: auto;
}

.form {
  max-width: 35rem;
  margin: 0 auto;
  margin-top: 10rem;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 1rem;
  border: 2px solid black;
  border-radius: 1rem;
}

.form__input {
  width: 100%;
  padding: 0.5rem;
}

.form__control {
  margin-bottom: 1.25rem;
}

.form__cta-register {
  text-align: center;
  margin-top: 1rem;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 27rem;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: var(--lightShadow);
          box-shadow: var(--lightShadow);
}

.product-card__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.product-card__img {
  width: 100%;
}

.product-card__name {
  text-decoration: none;
  text-transform: uppercase;
}

.product-card__price {
  text-decoration: none;
}

.product-card__info {
  padding: 0rem 1rem 1rem 1rem;
}

.featured-products {
  padding: 0 2rem;
}

.featured-products__list {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar {
  width: 100vw;
  padding: 0 2rem;
  -webkit-box-shadow: var(--lightShadow);
          box-shadow: var(--lightShadow);
}

.navbar__nav {
  max-width: 117rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.navbar__item a {
  text-decoration: none;
  color: #000;
}

.navbar__logo {
  text-align: center;
}

.navbar__logo a {
  text-decoration: none;
  font-size: 5rem;
  color: #000;
}

.navbar__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.section {
  max-width: 130rem;
  margin: 0 auto;
  padding: 4rem;
}

.product-details {
  max-width: 117rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.product-details__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: red;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: green;
}

.product-search__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */