.product-details {
  max-width: 117rem;
  display: flex;
  margin: 0 auto;

  &__img {
    display: flex;
    background-color: red;
    flex: 1;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: green;
  }
}
