.header {
  position: relative;
  min-height: calc(100vh - 5rem);
  overflow: hidden;
  align-items: center;
  display: flex;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../images/mainBcg.jpeg") center/cover no-repeat;

  &__banner {
    width: "100%";
    object-fit: cover;
    background-size: cover;
  }
  &__banner-text {
    position: absolute;
    margin: auto;
  }
}
